.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: navy;
}

/* .shopTitle:hover {
  background-color: rgb(134, 138, 139);
  color: black;
  transition: 1.7s ease-in;
 
} */
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.product img {
  width: 200px;
  box-shadow:1px 2px 3px solid black;
}

.product .description {
  text-align: center;
  color: rgb(0, 0, 0);
}

.product:hover {
  border: 2px solid black;
  height: 485px;
}

.addToCartBttn {
  background-color: transparent;  
  border: 2px solid rgb(101, 165, 248);
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}

.addToCartBttn:hover {
  background-color: rgb(69, 112, 255);
  color:black;
  cursor: pointer;
}

